@charset "UTF-8";

/* CSS Document */

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "movement-indirect-black";
  src: url("../media/fonts/Movement/Movement-IndirectBlack.woff2");
}

@font-face {
  font-family: "authetic-sans-90";
  src: url("../media/fonts/authentic_sans_210330/AUTHENTICSans-90.woff2");
}


/* Color Theme Swatches in Hex */
.color-blue-hex { color: #5E80E6; }
.color-red-hex { color: #E85833; }
.color-white-hex { color: #FFFAF4; }
.color-aqua-hex { color: #B2EDE4; }
.color-lemon-hex { color: #EFED6A; }

/* Color Theme Swatches in Hex */
.bg-color-blue-hex { background-color: #5E80E6; }
.bg-color-red-hex { background-color: #E85833; }
.bg-color-white-hex { background-color: #FFFAF4; }
.bg-color-aqua-hex { background-color: #B2EDE4; }
.bg-color-lemon-hex { background-color: #EFED6A; }


/* Color Theme Swatches in RGBA */
.color-blue-rgba { color: rgba(93, 128, 230, 1); }
.color-red-rgba { color: rgba(232, 87, 51, 1); }
.color-white-rgba { color: rgba(255, 249, 243, 1); }
.color-aqua-rgba { color: rgba(177, 237, 227, 1); }
.color-lemon-rgba { color: rgba(239, 237, 105, 1); }

/* Color Theme Swatches in HSLA */
.color-blue-hsla { color: hsla(224, 73, 63, 1); }
.color-red-hsla { color: hsla(12, 79, 55, 1); }
.color-whitw-hsla { color: hsla(32, 100, 97, 1); }
.color-aqua-hsla { color: hsla(170, 62, 81, 1); }
.color-lemon-hsla { color: hsla(59, 80, 67, 1); }


/* font classes */

/* font not used */
.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}


li {
	font-size: 1.2em;
}

body {
	background: rgb(178,237,228);
background: linear-gradient(180deg, rgba(178,237,228,1) 0%, rgba(178,237,228,1) 10%, rgba(178,237,228,0) 100%);
	font-family: "authetic-sans-90";
}

h1 {
	font-family: "movement-indirect-black";
}


/* Navigation */

.navbar-brand {
	font-family: "movement-indirect-black";
	font-size: 20px;
}

/* buttons */

.btn {
	border-radius: 0px;
}

.btn-outline-success {
	color: #5E80E6;
	border-color: #5E80E6;
}

.btn-outline-success:hover {
	background-color: #5E80E6;
	color: #FFFAF4;
}

.btn a {
	color: #FFFAF4;
	text-decoration: none
}
